# Postgres connection string
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/choose-your-own-adventure-multiplayer"

# Vercel AI SDK key
AI_GATEWAY_API_KEY=""

# Vercel blob storage
BLOB_READ_WRITE_TOKEN=""

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""


# Ably
ABLY_PUBLISH_API_KEY=""
NEXT_PUBLIC_ABLY_SUBSCRIBE_KEY=""